<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/layui/css/layui.css"/>
    <script src="/layui/layui.js"></script>
</head>
<body>

<button class="layui-btn layui-bg-blue" data-type="open">
    <i class="layui-icon layui-icon-add-circle"></i>选择
</button>

<script>
    layui.use(['laytpl', 'laypage', 'table', 'form', 'layer'], function () {
        var table = layui.table, laytpl = layui.laytpl, form = layui.form, $ = layui.jquery ;
        var active = {
            open: function () {
                layer.open({
                    type: 2,
                    skin: 'lay-auto-size',
                    area: ['90%', '90%'],
                    offset: '0px',
                    content: "/view/test?haha=123"
                });
            }
        };
        $('button[data-type]').click(function () {
            var type = $(this).data('type');
            active[type] && active[type].call(this);
        });
    });
</script>
</body>
</html>